h1 {
    color: rgb(0, 0, 0);
    /* Couleur du texte */
    background-color: rgb(254, 251, 255);
    /* Fond bleu */
    padding: 10px;
    /* Espacement intérieur */
    border-radius: 20px;
    /* Coins arrondis */
    width: fit-content;
    margin: auto;
}

body {
    background-image: url('assets/5594016.jpg');
    /* Remplace par le chemin de ton image */
    background-size: cover;
    /* Ajuste l'image pour couvrir toute la page */
    background-position: center;
    /* Centre l'image */
    background-repeat: no-repeat;
    /* Empêche la répétition de l'image */
}

.image-style {
    width: 300px;
    /* Largeur de l'image */
    height: auto;
    /* Garde les proportions */
    border-radius: 10px;
    /* Coins arrondis */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* Ombre portée */
    display: block;
    /* Évite les espaces indésirables */
    margin: 20px auto;
    /* Centre l'image horizontalement */
}

.passions {
    color: rgb(0, 0, 0);
    /* Couleur du texte */
    background-color: rgba(255, 255, 255, 0.916);
    /* Fond bleu */
    padding: 10px;
    /* Espacement intérieur */
    border-radius: 5px;
    /* Coins arrondis */
    width: fit-content;
    margin: auto;
}
h2 {
    color: rgb(0, 0, 0);
    /* Couleur du texte */
    background-color: rgb(254, 251, 255);
    /* Fond bleu */
    padding: 10px;
    /* Espacement intérieur */
    border-radius: 20px;
    /* Coins arrondis */
    width: fit-content;
    margin: auto;
}
h3 {
    color: rgb(0, 0, 0);
    /* Couleur du texte */
    background-color: rgb(254, 251, 255);
    /* Fond bleu */
    padding: 10px;
    /* Espacement intérieur */
    border-radius: 20px;
    /* Coins arrondis */
    width: fit-content;
    margin: auto;
}
p {
    color: rgb(0, 0, 0);
    /* Couleur du texte */
    background-color: rgb(254, 251, 255);
    /* Fond bleu */
    padding: 10px;
    /* Espacement intérieur */
    border-radius: 20px;
    /* Coins arrondis */
    width: fit-content;
    margin: auto;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center; /* centre les images horizontalement */
    gap: 10px;                /* espace entre les deux */
    margin-top: 50px;         /* optionnel : ajoute un peu d'espace en haut */
    justify-content: center;
  }
  
  .image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    justify-content: center;
  }
  